{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Product design predictor</title>
	<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>
	<h1>Product design predictor</h1>
	<form method="POST" action="result" enctype="multipart/form-data" fields = "__all__">
		{% csrf_token %}
		<input type="text" name="product_name"/>
		<input type="text" name="product_description"/>
		<input type="file" name="product_image"/> 
		<input type="submit"/>
	</form>
	<canvas id = "canvas1"></canvas>
	<script type="text/javascript" src="{% static 'script.js'%}"></script>
</body>
</html>
